extends ./layout.jade

block content
	div.browse-questions-holder.js-content(data-api-url="#{apiUrl}",data-view="browseQuestions")
		h2 Buscar preguntas
		p De repente tu duda ya fue resulta, busca en todas nuestras preguntas
		div.search-holder.js-search-holder
			div.form-group
				input.form-control.js-question-search(type="text",placeholder="Buscar pregunta")
		div.results.js-questions(data-parsed-agencies=parsedAgencies,data-questions=questions)
			- each question in questions
				div.question.js-question(data-id=question.id,data-title=question.title)
					a(href="/preguntas/" + question.id + "/" + question.slug)
						h4=question.title
						span=parsedAgencies[question.agencyId]
						p=question.formattedDate
		hr