extends ./layout.jade

block head
	title Pidela.info — Solicitudes enviadas

block content
	div.browse-questions-holder.js-content(data-api-url="#{apiUrl}",data-view="browseQuestions")
		h2 Solicitudes enviadas
		p Aquí puedes consultar todas las solicitudes que han enviado otros usuarios.
		div.search-holder.js-search-holder
			div.form-group
				input.form-control.js-question-search(type="text",placeholder="Busca por entidad, tema o palabra clave.")
		div.results.js-questions(data-parsed-agencies=parsedAgencies,data-questions=questions)
			- each question in questions
				div.question.js-question(data-id=question.id,data-title=question.title,data-agency-name=parsedAgencies[question.agencyId])
					a(href="/preguntas/" + question.id + "/" + question.slug)
						h4=question.title
						span=parsedAgencies[question.agencyId]
						p=question.formattedDate
		hr