extends ./layout.jade

block head
	title Pidela.info — Haciendo público tu derecho a la información pública

block content
	div.index-holder.js-content(data-api-url="#{apiUrl}",data-view="index")
		div.jumbotron.part.part-1.intro
			div.container
				h1.pidelainfo Haciendo público tu derecho
					br
					| a la información pública
				h4.one-line-intro Haz una 
					a(href="/nueva-solicitud") Solicitud de Acceso a la Información pública 
					| a una entidad del Estado peruano
				h4 o busca en 
					a(href="/solicitudes-enviadas") las #{questionsCount} solicitudes 
					| realizadas por otros usuarios.
		div.hidden-xs.hidden-sm.hidden-md.cta-holder
			h4 ¿Quieres pedir información pública?
			a.btn.btn-success(href="/nueva-solicitud") Envía una solicitud
		div.part.part-2.how-it-works
			h3 ¿Cómo funciona?
			p Pidela.info es una plataforma web que te permite hacer solicitudes de acceso a la información pública a través de Internet.
			div.steps
				div.step.step-1
					p Elige la entidad del Estado a la que quieres pedirle información y detalla tu solicitud a través de nuestro formulario.
					p.step-number 1
				div.step.step-2
					p Le enviaremos un correo electrónico a la Entidad detallándole tu pedido.
					p.step-number 2
				div.step.step-3
					p Cuando recibamos una respuesta, te avisaremos por correo electrónico y publicaremos la respuesta aquí.
					p.step-number 3
				div.hidden-xs.hidden-sm.steps-line
			div.learn-more
				a.btn.btn-info(href="/como-funciona") Conoce más sobre cómo funciona esta web 
					i.fa.fa-arrow-right
		hr
		div.part.part-3.more-info-holder
			div.row
				div.col-md-6
					h4 ¿A quiénes puedo enviar solicitudes?
					p Estas son las entidades del Estado con las que trabajamos
					ul.agencies(data-agencies=agencies)
						- each agency in agencies
							li
								a(href='/solicitudes-enviadas/?criteria={"entidad":"'+agency.name+'","colapsar":true}')
									h4=agency.name
				hr.hidden-sm.hidden-md.hidden-lg
				div.col-md-6
					h4 Últimas solicitudes enviadas
					div.search-holder.js-search-holder
						div.form-group
							input.form-control.js-question-search(type="text",placeholder="Busca en últimas solicitudes")
					div.results.js-questions(data-parsed-agencies=parsedAgencies,data-questions=questions)
						- each question in questions
							div.question.js-question(data-id=question.id,data-title=question.title,data-agency-name=parsedAgencies[question.agencyId])
								a(href="/solicitudes/" + question.id + "/" + question.slug)
									h4=question.title
									span.for=parsedAgencies[question.agencyId]
									p=question.formattedDate
		hr