extends ./layout.jade

block content
	div.content-fix-top.index-holder.js-content(data-api-url="#{apiUrl}",data-view="index")
		h4 Resultados
		div.results.js-questions
			- each question in questions
				div(data-id=question.id,class="question")
					a(href="/preguntas/" + question.id + "/" + question.slug)
						h4=question.title
						span=agencies[question.agencyId]
						p=question.formattedDate
